body {
  margin: 0;
  padding: 0 10px;
}

.menu {
  height: 50px;
  display: flex;
  align-items: center;
}

.btn_mode {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 30px;
  height: 30px;
  font-size: 2em;
  padding: 2px;
  margin-right: 10px;
  border: 2px solid transparent;

  img {
    width: 100%;
    height: 100%;
  }
}

.btn_mode:active {
  background-color: rgb(182, 182, 182);
}

.btn_mode.select {
  border: 2px solid black;
}

#canvasContainer {
  width: 100%;
  height: 90vh;
  border: 2px solid black; /* Agrega el borde al contenedor */
  overflow: hidden; /* Habilita el desplazamiento */
}

#clearButton {
  padding: 10px; /* Espaciado interno */
  margin-right: 0;
  margin-left: auto;
  color: white; /* Color del texto */
  background-color: #f44336; /* Color de fondo */
  border: none; /* Quita el borde */
  border-radius: 5px; /* Redondea las esquinas */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}
